<ion-view title="home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 83px;"></div>
        <div class="">
            <img src="img/uyhGxNVJSOSJ9lRRwbpr_polvo-home.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <form id="home-form1" class="list ">
            <h4 id="home-heading1" style="color:#512DA8;text-align:center;" class=" title">Olá, que memória você gostaria de guardar?</h4>
            <div class="spacer" style="width: 300px; height: 21px;"></div>
            <label class="item item-input " id="home-textarea1">
                <span class="input-label"></span><textarea placeholder="Escreva aqui..."></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>