<ion-view title="jar" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/6zkcs1WpTDyFpyttUS9U_jar-open.png" width="60%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="list card " id="jar-card22">
            <ion-item class="item-avatar  " id="jar-list-item3">
                <h2>Talita Htinha</h2>
                <p>data e hora</p>
            </ion-item>
            <div class="item item-body " id="jar-list-item-container2">
                <p id="jar-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
        <div class="list card " id="jar-card23">
            <ion-item class="item-avatar  " id="jar-list-item6">
                <h2>João Ogatão</h2>
            </ion-item>
            <div class="item item-body " id="jar-list-item-container3">
                <p id="jar-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>