<ion-view title="saved" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div class="">
            <img src="img/BPeUNoTAS5eG9ZoHujFS_polvo-ok.png" width="70%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 26px;"></div>
        <h4 id="saved-heading3" style="color:#512DA8;text-align:center;" class=" ">Memória salva!</h4>
    </ion-content>
</ion-view>