<ion-view title="write" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="write-form2" class="list ">
            <label class="item item-input " id="write-textarea2">
                <span class="input-label"></span><textarea placeholder="Escreva aqui..."></textarea>
            </label>
        </form>
        <button id="write-button1" style="border-radius:50px 50px 50px 50px;" class=" button button-calm  button-block ">SALVAR</button>
    </ion-content>
</ion-view>